<h1>Listing users_interests_links</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_interests_links.each do |users_interests_link| %>
      <tr>
        <td><%= link_to 'Show', users_interests_link %></td>
        <td><%= link_to 'Edit', edit_users_interests_link_path(users_interests_link) %></td>
        <td><%= link_to 'Destroy', users_interests_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users interests link', new_users_interests_link_path %>
